# BDAT 1004 â€“ Data Programming

# Problem Set 2

# Question1
Consider the following Python module:

a = 0

def b():

 global a
 
 a = c(a)
 
def c(a):

 return a + 2
 
After importing the module into the interpreter, you execute:

-->>> b()

-->>> b()

-->>> b()

-->>> a

?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [18]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [19]:
 b() #here return value will be 2 for a.

In [20]:
 b() #here return value will be 4 for a i.e a+2 where a=2.

In [21]:
 b() #here return value will be 6 for a i.e a+2 where a=4.

In [22]:
a      #on calling a it will return 6

6

On first statement i.e. b() the value return for a will be 2,initially a is 0. Inside b function a is defined global and inside c a is local which will eventually return value of a in addition to 2.
So for second statement i.e. again b() now a value is 2 instead of 0.So similarly it will return value of a+2 i.e. 4.
Again calling function b() will return a+2 i.e. 6.
In the last statement i.e. it will return value of a which is 6.

# Question2:
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

-->>> fileLength('midterm.py')

284

-->>> fileLength('idterm.py')

Traceback (most recent call last):

File "<pyshell#34>", line 1, in <module>
 
    fileLength('idterm.py')

    File "/Users/me/midterm.py", line 3, in fileLength

    infile = open(filename)

    FileNotFoundError: [Errno 2] No such file or directory:

    'idterm.py'

    As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a

    friendly message is printed instead:

    -->>> fileLength('midterm.py')

    358

    -->>> fileLength('idterm.py')

    File idterm.py not found.

In [23]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File {} not found.".format(file_name))

In [84]:
fileLength('midterm.py')

358

In [25]:
fileLength('idterm.py')

File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

->>> m = Marsupial()

->>> m.put_in_pouch('doll')

->>> m.put_in_pouch('firetruck')

->>> m.put_in_pouch('kitten')

->>> m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the __str__ operator so it behaves as shown below.

->>> k = Kangaroo(0,0)

->>> print(k)

I am a Kangaroo located at coordinates (0,0)

->>> k.put_in_pouch('doll')

->>> k.put_in_pouch('firetruck')

->>> k.put_in_pouch('kitten')

->>> k.pouch_contents()

['doll', 'firetruck', 'kitten']

->>> k.jump(1,0)

->>> k.jump(1,0)

->>> k.jump(1,0)

->>> print(k)

I am a Kangaroo located at coordinates (3,0)

In [26]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self,item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        print(self.pouch)

In [27]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [28]:
class Kangaroo(Marsupial):
    def __init__(self,x=0,y=0):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [29]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [30]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = {ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
     
     3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

->>> collatz(1)

1

->>> collatz(10)

10

5

16

8

4

2

1

In [31]:
def collatz(x):
    print(x)
    
    if x==1:
        return x
    
    if x%2 == 0:
        collatz(x//2)
    else:
        collatz(3*x+1)

In [32]:
collatz(1)

1

1

In [33]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

->>> binary(0)

0

->>> binary(1)

1

->>> binary(3)

11

->>> binary(9)

1001

In [75]:
def binary(x):
    if (x < 0):
        raise InvalidValueError('Can only convert a non-negative integer.')
    # x is 0 or 1
    if (x == 0 or x == 1):
        return x
    
    #return str(binary(x//2))+str(x%2)
    return x%2+10 *binary(x//2)

In [76]:
binary(0)

0

In [77]:
binary(1)

1

In [78]:
binary(3)

11

In [79]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

->>> infile = open('w3c.html')

->>> content = infile.read()

->>> infile.close()

->>> hp = HeadingParser()

->>> hp.feed(content)

W3C Mission
 
 Principles

In [41]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        
    heading_number = 0
    current_heading_tag = ""
    def handle_starttag(self, tag, attrs):
        #since headings in html ranges from h1 to h6 therefore loop range from 1 to 6
        for x in range(1,6):
            if tag == 'h'+str(x):
                self.heading_number = x
                self.current_heading_tag = tag
                break
        else:
            return
    
    def handle_data(self, data):
        indent = ""
        if self.heading_number != 0:
            for y in range(self.heading_number -1):
                indent += ' '
            print(indent+data)
    
    def handle_endtag(self, tag):
        if tag == self.current_heading_tag:
            self.heading_number = 0
            self.current_heading_tag = ""

In [42]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

->>>webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [30]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

       
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []    
        
    def append(self):
       # print(self.url_links)
        return self.links
        
    def handle_starttag(self, tag, attrs):
        for a in attrs:
            #print(a)
            ab = urljoin(self.url, a[1])
            # excluding a href with mailto or other values other than http links
            #print(ab[:4])
            if ab[:4] == 'http':  #here ab[:4] will return starting 4 characters of attribute i.e. mail/http 
                self.links.append(ab)
               # print(ab)

def webdir(url, depth, indent=0):
    depth = depth - 1    
    print(indent*'  ', url)         
    objective = urlopen(url).read().decode()
    collection = Collector(url)
    collection.feed(objective)
    urls = collection.append() 
    indent= indent + 4
    for link in urls:
        if depth < 0 or indent < 0:
            return 1
        else:
            webdir(link, depth, indent)

In [31]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [45]:
%%capture
%load_ext sql
%sql sqlite://

In [47]:
%%sql   
CREATE TABLE weathers(city varchar(50),country varchar(50), season varchar(50), temperature double, rainfall double);  
INSERT INTO weathers VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO weathers VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO weathers VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO weathers VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO weathers VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO weathers VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO weathers VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO weathers VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO weathers VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO weathers VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO weathers VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO weathers VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

a) All the temperature data:

In [48]:
%%sql
SELECT temperature FROM weathers;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b)All the cities, but without repetition.

In [49]:
%%sql
SELECT DISTINCT City FROM weathers;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c)All the records for India.

In [50]:
%%sql
SELECT * FROM weathers where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [51]:
%%sql
SELECT * FROM weathers where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [52]:
%%sql
SELECT city,country,season FROM weathers where Rainfall BETWEEN 200 AND 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [53]:
%%sql
SELECT city,country FROM weathers WHERE Temperature>20 AND Season='Fall' Order by Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [54]:
%%sql
SELECT sum(Rainfall) as Total from weathers where City='Cairo';

 * sqlite://
Done.

[(27.6,)]

h) The total rainfall for each season.

In [55]:
%%sql
SELECT Season,sum(Rainfall) FROM weather Group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:

-->>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] 

(the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] 

(the list of words in list words containing 4 or more characters.)

In [56]:
words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newlist1=[]
newlist2=[]
newlist3=[]
newlist4=[]
newlist5=[]
for x in words:      
  newlist1.append(str.upper(x))
  newlist2.append(str.lower(x))
  newlist3.append(len(x))
  newlist4.append([str.upper(x),str.lower(x),len(x)])
        

for x in words:
    if len(x)>3:
       newlist5.append(x)

In [57]:
print(newlist1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [58]:
print(newlist2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [59]:
print(newlist3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [60]:
print(newlist4)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [61]:
print(newlist5)

['quick', 'brown', 'jumps', 'over', 'lazy']